.flex-container-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blanchedalmond;
}
.flex-container-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(212, 148, 51);
}
.flex-container-3 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  background-color: rgb(55, 182, 122);
}
.flex-container-4 {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 129, 229);
}
.box {
  background-color: rgb(56, 52, 37);
  height: 100px;
  width: 100px;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
